<table class="table">
  <thead>
    <tr class="info">
      
      <th>nombre</th>
      <th>nombre</th>
      <th>lugar</th>
      <th>tipo</th>
      <th>Comentarios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>

      <tr>
        <td><%= image_tag user.avatar , style: 'height:20%; width:auto;' %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.updated_at %></td>
        <td><%= user.avatar %></td> 
        <td><%= link_to 'Edit', edit_post_path(user) %></td>
        <td><%= link_to 'delete', destroy_user_path(user) %></td>
      </tr>
    
  </div>
    <% end %>
  </tbody>


