

<h1 class="cnt">Lugares</h1>

<div class="container">
<h4>Acá encontraras una serie de sitios recomendados por nuestros usuarios de la comunidad, la idea es no tener ningun tipo de influencia y solo escucharlas</h4>
<br>
<table class="table">
  <thead>
    <tr class="info">
      
      <th>imagen</th>
      <th>nombre</th>
      <th>lugar</th>
      <th>tipo</th>
      <th>Usuario</th>
      <th>Comentarios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>

      <tr>
        <td><%= image_tag post.avatar , style: 'height:20%; width:auto;' %></td>
        <td><%= post.band %></td>
        <td><%= post.album %></td>
        <td><%= post.genere %></td>
        <td><%= post.user_name%></td>
        <td><%= post.comments %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                
      </tr>
      
      

    
  </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
