<p id="notice"><%= notice %></p>

<p>
  <strong>nombre:</strong>
  <%= @post.band %>
</p>

<p>
  <strong>lugar:</strong>
  <%= @post.album %>
</p>

<p>
  <strong>tipo:</strong>
  <%= @post.genere %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @post.comments %>
</p>

<p>
  <strong></strong>
  <%= image_tag @post.avatar, style:'width:50px; height:150px'%>
</p>

<h2>Comentarios</h2>
<div id="list_coment">
  <%= render @post.coments %>
</div>


<h2>Añadir un comentario:</h2>
<%= render 'coments/form' %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

