<!DOCTYPE html>
<html>
  <head>
    <title>Tattopp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <li class="navbar-brand"><%= link_to 'Recomiendame un sitio', posts_path %></li>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to 'Acerca', welcome_index_path %></li>
     
      <li><%= link_to 'fotos', welcome_show_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

<li> 
<%= if current_user.try(:admin?)
link_to "administrar cuentas", welcome_admin_path
end

%>
</li>
<% if current_user %>
      <li><%=current_user.name%> </li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "editar perfil", edit_user_registration_path(current_user) %> </li>

     <li><div class=round-image-50 ><%= image_tag(current_user.avatar.url(:thumb)) %></div> </li>
  <% else %>
      <li><%= link_to 'Login', new_user_session_path %></li>

  <% end %>

    </ul>
  </div>
</nav>

    <%= yield %>
      <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  </body>
</html>
